<h1>Calendario <%= @year %></h1>

<%= month_calendar(date: Date.today) do |date| %>
  <div class="day-cell" data-date="<%= date %>">
    <%= date.day %>
    <div class="markings">
      <% # Mostra i nomi degli utenti che hanno segnato questo giorno %>
      <% @day_markings.select { |dm| dm.marked_on == date }.each do |marking| %>
        <p><%= marking.user.email %></p>
      <% end %>
    </div>
  </div>
<% end %>

<script>
document.addEventListener('turbolinks:load', () => {
  console.log("turbolinks:load evento ricevuto");
  document.querySelectorAll('.day-cell').forEach(cell => {
    cell.addEventListener('click', () => {
      const date = cell.getAttribute('data-date');
      fetch("<%= toggle_day_marking_path %>", {
        method: "POST",
        headers: {
          "X-CSRF-Token": "<%= form_authenticity_token %>",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ date: date })
      })
      .then(response => response.json())
      .then(data => {
        // Aggiorna la cella, per esempio cambiando il colore o ricaricando le marcature
        cell.querySelector('.markings').innerHTML = data.html;
      });
    });
  });
});

</script>